*{
    margin: 0;
    padding: 0;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;  
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;  
    margin-bottom: 35px;
}
form input{
    border: none;
    border-bottom: 2px solid #FF3333;
    padding-left: 15px;
}
label{
    display: inline-block;
    width: 80px;
  }
.submit{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.submit button{
    background-color: #FF3333;
    color: white;
    border: none;
    padding:4px 10px;
} 
.blue{
    color:rgb(75, 75, 232);
}
@media (max-width:460px) {
    .logo{
        width: 190px;
    }
    #contacto, #login, #shop{
        font-size: 18px;
    }
    .footer__left{
        margin-left: -50px;
        margin-right: 50px;
    }
    .footer__right img{
        width: 95px;
        height: 81px;
    }
}